@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");

html,
body {
  margin: 0;
  padding: 0;
  font-family: "Open Sans", sans-serif;
}

body {
  overflow: hidden;
  background: url("https://images.pexels.com/photos/2473183/pexels-photo-2473183.jpeg?cs=srgb&dl=pexels-nickoloui-2473183.jpg&fm=jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.top {
  align-items: center;
  justify-content: center;
  font-size: 4rem;
  color: rgb(255, 242, 254);
  margin-top: 2rem;
  text-align: center;
}

.big-wrapper {
  margin-top: 2.5rem;
  position: relative;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  gap: 17.5rem;
  flex-wrap: wrap;
}

.container {
  position: relative;
  display: flex;
  flex-direction: column;
  background-color: hsla(0, 0%, 0%, 0.329);
  padding: 1rem 1.5rem;
  border-radius: 1rem;
  align-items: center;
  box-shadow: 0 0 35px 5px hsla(0, 0%, 100%, 0.048);
  max-width: 90%;
  min-width: 300px;
  flex-wrap: wrap;
}

.container h1 {
  color: rgb(255, 230, 254);
  font-size: 2.5rem;
  margin: 1rem 3rem 2rem;
  text-align: center;
}

.container ul {
  place-content: center;
  display: grid;
  gap: 2rem;
  color: rgb(255, 242, 254);
  list-style: none;
  padding: 0;
  margin: 0 1rem 1.5rem;
  grid-template-columns: repeat(2, 1fr);
}

.container ul li {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 1.5rem;
}

.left-info img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  box-shadow: 0 0 45px 5px hsla(0, 0%, 0%, 0.329);
}

.left-info {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: hsla(0, 0%, 100%, 0.041);
  border-radius: 1rem;
  box-shadow: 0 0 35px 5px hsla(0, 0%, 0%, 0.274);
  max-width: 90%;
  min-width: 300px;
  padding: 1.5rem 2rem;
  color: rgb(232, 254, 255);
  text-decoration: none;
}

.left-info h1 {
  font-size: 2rem;
}

.left-info h2 {
  margin-top: -0.5rem;
}

.left-info ul {
  display: flex;
  flex-direction: row;
  font-size: 1.5rem;
  gap: 1rem;
  padding: 0;
  margin: 1rem 0 0 0;
}

.left-info ul a {
  text-decoration: none;
  color: rgb(232, 254, 255);
}

.left-info h6 {
  font-weight: 125;
  font-size: 0.85rem;
}

.contact {
  color: rgb(255, 242, 254);
  font-weight: 100;
  font-size: 1rem;
}

.contact-mail {
  position: absolute;
  bottom: 1%;
  text-decoration: none;
  color: rgb(255, 242, 254);
  align-items: center;
  justify-content: center;
}
